body {
  background-color: #8e1dc6;
  font-family: "Inter", Arial, Timer New Roman;
}
h1,h2,h3 {
  font-weight: 700;
  text-align: center;
}

h1 {
  font-family: "Cedarville Cursive", cursive;
}

img {
  height: 400px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  display: block;
}

.recipe-box {
  align-items: center;
  border: solid black 4px;
  padding: 20px;
  border-radius: 20px;
  width: 800px;
}

